.hero-day{
    background-image: url('../assets/images/bg-image-daytime-desktop.jpg');
    background-position: -500px 0px; 
    background-repeat: no-repeat;
    .hero__feature{
        background:rgba(0,0,0,0.4);
        height: 800px;
        .hero__content{
            .hero__icon{
                padding-top: 2.8em;
                width: 10%;
                max-width: 20px;
            }
            .hero__icon:hover{
                cursor: pointer;
            }
        }
    }
}