.header{
    color:$white;
    width: 95%;
    .header__quote{
        width: 85%;
        padding: 8.5em 0 0 0;
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 1.8em;
    }
    .header__author{
        padding-top: 0.75em;
        font-weight: 600;
        font-size: 0.79rem;
    }
}