@import "./variables";
@import "../components/header/header";
@import '../components/Hero/hero';
@import '../components/Display/display';
@import '../components/Button/button';
@import '../components/Dropdown/dropdown';
@import "../components/Info/info";
@import "../components/Content/content";

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    padding: 0;
    overscroll-behavior-y: none;
    font-family: $font-inter;
    overflow-x: hidden;
}
img {
    width: 100%;
}
.container {
    width: 85%;
    margin: 0 auto;
    max-width: 80.75em;
}

.row{
    display:flex;
    justify-content: space-between;
}